* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 2vmin;
    font-size: 6vmin;
    color: rgb(235, 231, 238);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}


body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 18vh;
    width: 18vh; 
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #dee4e4;
    
}

#reset-btn {
    margin-top: 2vmin;
    padding: 1vmin 2vmin;
    font-size: 4vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: #9d4440;
    color: white;
    cursor: pointer;
}

#new-btn {
    margin-top: 2vmin;
    padding: 1vmin 2vmin;
    font-size: 4vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: #b34845;
    color: white;
    cursor: pointer;
}

#msg {
    margin-top: 2vmin;
    font-size: 10vmin;
    color: rgb(56, 228, 71);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}