* {
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: rgb(71, 194, 222);
    background-color: #081b31;
    height: 8rem;
    line-height: 7rem;
    
}

body {
    background-color: whitesmoke;
}

.choices {
    display: flex;
    justify-content: center;
   align-items: center;
    gap : 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.choice {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 50%;
    
}

.choice:hover {
    cursor: pointer;
    border: 8px solid black; 
    transform: scale(1.1);
    
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 10rem;
    gap: 10rem;
}

#userscore, #compscore {
    font-weight: bold;
    font-size: 6rem;
}

#msg-container {
    text-align: center;
    display: flex;
    margin-top: 2rem;
    
}

#msg {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.showcompoption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

#comcho {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 50%;
    
}
#comcho img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}